<div class="container w-50 my-5 border rounded p-3 bg-light">
    <h2 class="text-center">Registrati...</h2>
    <form (ngSubmit)="registrati(f)" #f="ngForm">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label><i class="mx-2 bi bi-person-fill"></i>
          <input type="text" class="form-control" id="nome" ngModel name="nome" #nome="ngModel" required>
          <p *ngIf="nome.invalid && nome.touched" class="alert alert-danger" role="alert">Campo obbligatorio</p>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label><i class="mx-2 bi bi-envelope-fill"></i>
          <input type="email" class="form-control" id="email" ngModel name="email" #email="ngModel" required>
          <p *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">Campo obbligatorio</p>
          <p>{{err}}</p>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label><i class="mx-2 bi bi-key-fill"></i>
          <input type="password" class="form-control" id="password" ngModel name="password" #password="ngModel" required>
          <p *ngIf="password.invalid && password.touched" class="alert alert-danger" role="alert">Campo obbligatorio</p>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">REGISTRATI</button>
    </form>
  </div>
