<h1 class="text-center"><span class="rounded p-1" appMarker>Benvenuto</span> sulla Home Page</h1>
<div class="d-flex justify-content-between mt-4">
<button [routerLink]="['/attivi']" routerLinkActive="active" class="btn btn-primary m-2">vai ai post attivi</button>
<button [routerLink]="['/user']" routerLinkActive="active" class="btn btn-primary m-2">vai agli User</button>
<button [routerLink]="['/non_attivi']" routerLinkActive="active" class="btn btn-primary m-2">vai ai post non attivi</button>
</div>
